
.font-weight-bold{
    font-weight: bold;
}
.primary{
    color: #f57825;
}
.secondary{
    color: #237d9e;
}
a {
    text-decoration: none;
    color: #54a2af;
    font-weight: 600;
}
a:hover{
    color:#f3680c;
}

.blog-content{
    padding:30px 0px;
    border-bottom: 1px solid #e1e1e1;
}

.blog-content .blog-date{
    padding:10px 0px
}

.slick-next:before, .slick-prev:before {
    color: #f57825;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;    
}

.no-gutters .col,.no-gutters [class*="col-"]{
    padding-right: 0;
    padding-left: 0;
}

.pointer{
    cursor: pointer;
}

.text-right{
    text-align: right;
}

.page-container{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

@media (min-width:576px) {
	.page-container{
		max-width: 540px
	}
}

@media (min-width:768px) {
	.page-container{
		max-width: 720px
	}
}

@media (min-width:992px) {
	.page-container{
		max-width: 960px
	}
}

@media (min-width:1200px) {
	.page-container{
		max-width: 1140px
	}
}