.footer_cont {
    width: 100%;
    background-color: #21687e;
    display: flex;
    justify-content: center;
    position: relative;


}

.footer_main_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 50px;

}

.add_main_cont {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.add_1 {
    width: 100%;
    height: 100%;
    color: #ffffff9c;
    font-size: 16px;
    margin: 2px 15px 2px 15px;
    position: relative;
}

.host_name {
    font-size: 20px;
    color: white;
    font-weight: 500;
}

.add_1 a {
    text-decoration: none;
    color: #bcbcbc;
}

.add_1 p:nth-child(2) {
    margin-bottom: 10px;
}

.add_1 a:hover {
    color: white;
}

.copy_right_cont {
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #c1c1c1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 104px;
    color: white;
}

.f_icons2 {
    margin-left: 4px;
    font-size: 18px;
}

.f_icons1 {
    font-size: 17px;
}


.copy_right_cont p:first-child {

    font-size: 18px;
}

.f_ph_icon {
    font-size: 16px;
}

.footer_socialm_cont {
    position: absolute;
    bottom: 0px;


}

.footer_socialm_cont p {
    margin-bottom: 0;
}

.footer_socialm_cont-dummy {
    height: 163px;
    width: 100%;
}

.qrcode_loc img {
    width: 100px;
}

.apollo_logo {
    width: 109px;
    position: absolute;
    top: 11px;
    right: 10px;
    border-radius: 7px;
}

.qrcode_loc {
    margin-top: 16px;
}









@media (max-width:600px) {
    .add_main_cont {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }

    .host_name {
        text-align: start;
        font-size: 20px;
        color: white;
        font-weight: 500;
    }

    .add_1 p:nth-child(2) {
        margin-bottom: 5px;
        text-align: start;
    }

    .footer_socialm_cont {
        position: absolute;
        bottom: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        left: 0;
    }

    .add_1 a {
        text-decoration: none;
        color: #bcbcbc;
        margin-top: -10px;
    }

    .foo_anch_link2 {
        position: relative;
        top: -9px;
    }

    .add_1 {
        width: 100%;
        height: 100%;
        color: #ffffff9c;
        font-size: 16px;
        margin: 0;
        margin-top: 0px;
        position: relative;
    }

    .add_1:nth-child(2),
    .add_1:nth-child(3) {
        width: 100%;
        height: 100%;
        color: #ffffff9c;
        font-size: 16px;
        margin: 0;
        margin-top: 47px;
        position: relative;
    }

    .copy_right_cont {
        color: white;
        margin-top: 32px;
        color: white;
        margin-bottom: 51px;
    }

    .copy_right_cont p:first-child {
        font-size: 15px;
        text-align: center;
    }

    .footer_cont {
        width: 100%;
        background-color: #21687e;
        display: flex;
        justify-content: center;
        margin-top: 0;
    }
    .copy_right_cont p:nth-child(2) {
        margin-top: -20px;
    }
    .f_icons2{
        position: relative;
        top: 9px;
    }
  
}


