.container1 button {
    position: absolute;
    top: 14px;
    right: 15px;
}
#navbar_logo img {
    width: 60px;
    position: absolute;
    top: 2px;
}

.right_items {
    font-size: 25px;
    padding: 9px 0px;
    font-weight: 500;
}

.title2 {
    font-size: 27px;
    font-weight: 500;
    margin-left: -15px;
}

/* button focus turn off from bootsrap */
.navbar-toggler:focus {
    box-shadow: none;
}

.right_items .item {
    margin: 0px 20px;

}

.navbar-nav .nav-link.active {
    color: #f37121 !important;
}
.nav-link {
    color: #54a2af!important;
}
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand {
    color: rgb(255, 255, 255) !important;
    font-size: 30px;
    font-weight: 700;
}

.navbar {
    font-weight: 300;
    box-shadow: none !important;
}

.navbar.navbar-dark .navbar-toggler {
    /* color: #ac2020 !important; */
    background-color: rgb(255, 255, 255);
}

.navbar-expand-lg .navbar-nav {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

 
.navbar-dark .navbar-toggler-icon {
    color: white !important;
}

.navbar.navbar-dark .navbar-toggler {

    border: 1px solid grey;
}

.navbar-toggler {
    border: none !important;
}

.bg-dark {
    background-color: transparent !important;
    padding: 13px 0;
}

.navbar-nav .dropdown-menu {
    position: static;
    border: none !important;
}
.dropdown-menu {
    --bs-dropdown-color: #54a2af!important;
 
    --bs-dropdown-link-color: #54a2af!important;
    --bs-dropdown-link-hover-color: #1e2125;
    --bs-dropdown-link-active-color: #00224f;
    --bs-dropdown-link-active-bg: transparent !important ;
 
}
.dropdown-item.active, .dropdown-item:hover{
    color: #54a2af;
}


/* responsive above  990px */
@media(min-width:990px) {
    .container1 {
        height: 55px;
    }

    .title2 {
        position: absolute;
        top: 7px;
        left: 58px;
    }

    .title2 {
        font-size: 31px;
        font-weight: bold;
        margin-left: -15px;
    }

    .nav_main_home {
        /* border-bottom: 1px solid gainsboro; */
        padding-bottom: 0;
        padding-top: 0;
    }


}


/* responsive below 700px */
@media(max-width:600px) {


    /* mb slider open as center */
    .container {
        margin: 0px 0px !important;
    }

    .right_items a.nav-link {
        text-align: center;
        padding: 27px 10px;
    }

    .right_items {
        font-size: 20px !important;
        padding: 27px 0px;
        font-weight: 300 !important;
    }

    .nav_main_home {
        /* border-bottom: 1px solid gainsboro; */
        padding-bottom: 4px;
        padding-top: 4px;
    }
    .bg-dark {
        background-color: transparent !important;
        padding: 4px;
    }
    #navbar_logo img {
        width: 46px;
        
        top: 0px;
        left: 7px;
    }

}