/* ph number */
.nav_ph_icon{
    margin-top: -3px;
    margin-right: 4px;
}
.tpp_nav_ph_cont {
    align-items: center;
    background-color: #54a2af;
    color: #ffffff;
    display: flex;
    height: 40px;
    justify-content: space-between;
    padding: 1px 10px;
}
.ph_left {
display: flex;
justify-content: center;
align-items: center;
}

.ph_left p {
margin-left:0px;
text-align: center;
}
.ph_left p:last-child{
    margin-left: 13px;
}

.ph_left {
display: flex;
justify-content: center;
align-items: center;
margin-top: 11px;
font-size: 13px;
}   

.ph_right {
margin-top: -8px;
}
.ph_right a{
    text-decoration: none;
    color: white;
    margin-right:2px;
   
}
.ph_right a:first-child {
    font-size:21px;
     position: relative;
     top:1px;
}
.ph_right a:last-child{
    font-size: 17px;
    border-radius: 5px;
    margin-left: 3px;
}
 


/* navbar home */

 
.container, .container-sm {
max-width:100% !important;
}
.nav_home_cont {
    background-color:#f6f6f6;
}

@media(max-width:390px){
    .ph_left {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
        font-size: 11px;
    }
}